# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [182]:
import pandas as pd
import numpy as np
recipes1 = pd.read_csv('recipes_sample.csv')
reviews1 = pd.read_csv('reviews_sample.csv')
recipes = pd.DataFrame(data = recipes1)
reviews = pd.DataFrame(data = reviews1)
reviews = reviews.rename(columns={"Unnamed: 0": "Indecies"})
print(recipes)
print(reviews)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]
        Indecies     user_id  recipe_id        date  rating  \
0         370476       21752      57993  2003-05-01       5
1         624300      431813     142201  2007-09-16       5
2         187037      400708     252013  2008-01-10       4
3         706134  2001852463     404716  2017-12-11       5
4         312179       95810     129396  2008-03-14       5
...          ...         ...        ...         ...     ...
126691   1013457     1270706     335534  2009-05-17       4
126692    158736     2282344       8701  2012-06-03       0
126693   1059834      689540     222001  2008-04-08       5
126694    453285  2000242659     354979  2015-06-02       5
126695    691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [126]:
#recipes
rows = len(recipes.axes[0])
columns = len(recipes.axes[1])
types = recipes.dtypes
print(rows)
print(columns)
print(types)

30000
8
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [87]:
#reviews
rows = len(reviews.axes[0])
columns = len(reviews.axes[1])
types = reviews.dtypes
print(rows)
print(columns)
print(types)

126696
6
Indecies      int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [139]:
#recipes
rows = 30000
recipes_columns_NaN = recipes.isnull().sum()
recipes_withNaN = recipes.isnull().sum(axis=1).sum()
print(recipes_columns_NaN)
print(recipes_withNaN/rows*100,"%")

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
68.97666666666666 %

In [161]:
#reviews
rows = 126696
reviews_columns_NaN = reviews.isnull().sum()
reviews_withNaN = reviews.isnull().sum(axis=1).sum()
print(reviews_columns_NaN)
print(reviews_withNaN/rows*100,"%")

Indecies      0
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64
0.013417945317926377 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [54]:
#recipes
idd_mean = np.mean(recipes["id"])
print(idd_mean)
minutes_mean = np.mean(recipes["minutes"])
print(minutes_mean)
contributor_id_mean = np.mean(recipes["contributor_id"])
print(contributor_id_mean)
n_steps_mean = np.mean(recipes["n_steps"])
print(n_steps_mean)
n_ingredients_mean = np.mean(recipes["n_ingredients"])
print(n_ingredients_mean)

221879.294
123.35813333333333
5635900.5728
9.805582137161085
9.008285984848484

In [57]:
#reviews
Indecies_mean = np.mean(reviews["Indecies"])
print(Indecies_mean)
user_id_mean = np.mean(reviews["user_id"])
print(user_id_mean)
recipe_id_mean = np.mean(reviews["recipe_id"])
print(recipe_id_mean)
rating_mean = np.mean(reviews["rating"])
print(rating_mean)

566089.8211466818
140801264.7374108
160094.38706036497
4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [60]:
ar = np.random.choice(recipes["name"], 10)
ar

array(['scacchi  passover lasagna', 'boiled maine lobster',
       'bev s banana daiquiris   pina coladas', 'wheat bran muffins',
       'oriental beef and couscous', 'indonesian corn cakes',
       'clam chowder  the simple way', 'cookie fruit crisp',
       'chocolate toffee caramel bars',
       'agurkesalat     cucumbers in vinegar'], dtype=object)

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [61]:
#reviews
reviews = reviews.rename(index = lambda x: x + 1)
reviews

,Indecies,user_id,recipe_id,date,rating,review
1,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
2,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
3,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
4,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
5,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126692,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126693,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126694,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126695,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126696,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [67]:
#recipes
recipes_new1 = recipes[recipes["minutes"] <= 20]
recipes_new2 = recipes_new1[recipes_new1["n_ingredients"] <= 5]
recipes_new2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [93]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [169]:
recipes_copy = recipes.copy()
recipes_copy["submitted"] = pd.DatetimeIndex(recipes["submitted"]).year
recipes_copy = recipes_copy[recipes_copy["submitted"] < 2010]
recipes_copy

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [129]:
recipes["description_length"] = recipes["description"]
for i in range(0,len(recipes['description'])):
    if type(recipes['description'][i]) == str:
        recipes.loc[i,['description_length']] = len(recipes['description'][i])
    else: continue
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

      description_length
0                    330
1                    255
2                     39
3                    154
4                    587
...                  ...
29995                484
29996                286
29997                311
29998                648
29999                125

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [132]:
recipes['name'] = recipes['name'].astype('str')
for i in range(0, len(recipes["name"])):
    recipes.loc[i,['name']]=recipes['name'][i].lower()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [224]:
recipes["name_word_count"] = recipes["name"]
recipes["name_word_count"] = recipes["name_word_count"].astype('str')
for i in range(0, len(recipes["name_word_count"])):
    recipes.loc[i,['name_word_count']]=len(recipes['name_word_count'][i].split())
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [138]:
contributors = pd.DataFrame({1:recipes['contributor_id'],2:recipes['n_steps']})
a = 0
for i in contributors[2]:
    if i > a:
        a = i
print(a)
print(contributors)

88.0
            1     2
0       35193   NaN
1       91970   NaN
2        1533   NaN
3       22724   NaN
4        4470   4.0
...       ...   ...
29995  200862  16.0
29996  177443   NaN
29997  161745   NaN
29998  227978   NaN
29999  506822   9.0

[30000 rows x 2 columns]

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [168]:
reviews_columns_NaN = reviews.isnull().sum()
reviews_withNaN = reviews.isnull().sum(axis=1).sum()
print(reviews_columns_NaN.get("review"))

#?

17

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [181]:
recipes_copy["sum"] = 1
res = recipes_copy.groupby('submitted')['sum'].sum()
res

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: sum, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [234]:
table = recipes.dropna()
table.drop(columns = ['minutes', 'contributor_id', 'submitted', 'n_steps', 'description', 'n_ingredients'])
table

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
1587,babaganoush,375602,40,999578,2009-06-02,10.0,easy to make and very yummy!,7.0,1
20401,pecanettes,268534,40,581245,2007-11-28,12.0,these are a wonderful christmas cookies. they ...,10.0,1
17940,moloko,226606,5,221209,2007-05-07,5.0,cocktail invented at a student party. at the t...,3.0,1
3482,boerenkool,75673,45,37636,2003-11-05,12.0,a farmer's version of a kale dish with smoked ...,9.0,1
23814,sekanjabin,126517,30,31807,2005-06-20,9.0,"a sweet-and-slightly-sour mint drink, this can...",4.0,1
...,...,...,...,...,...,...,...,...,...
12072,gingery carrot and orange soup add a touch o...,68585,150,125325,2003-08-08,11.0,this warm and tangy soup has a beautiful muted...,11.0,13
5734,chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13
26222,subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14
27876,top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14
28083,tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [216]:
reviews_copy = reviews.copy()
reviews_copy["date"] = pd.DatetimeIndex(reviews["date"]).year
res1 = reviews_copy.groupby('date')['rating'].sum()
reviews_copy["sum"] = 1
res2 = reviews_copy.groupby('date')['sum'].sum()
a = res1/res2
#columns = ["date", "avg"]
b = min(res1/res2)
print(b)

3.3530416951469584

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [225]:
recipes = recipes.sort_values(by='name_word_count')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
15528,kuchen,77329,63,112825,2003-11-26,NaN,this is a german coffee cake that was handed d...,NaN,1
29455,wimpies,75064,55,38865,2003-11-02,NaN,the best,13.0,1
23287,salscamole,295204,2,221965,2008-03-30,NaN,a deliciously addictive mixture of salsa and g...,NaN,1
19437,orangecicles,119528,65,169796,2005-04-28,NaN,this is a wonderful treat for a diabetic. not...,NaN,1
1587,babaganoush,375602,40,999578,2009-06-02,10.0,easy to make and very yummy!,7.0,1
...,...,...,...,...,...,...,...,...,...
5734,chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13
26222,subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14
27876,top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14
28083,tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14
26223,subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3